<article class="book uk-card uk-card-default  "></article>
        <div class="book-title ">
       {{title}} by {{author}} <span class="thumb-icon"><img src="../../images/thumb.png" ></span>
       </div>

        <div class="user-info">
        created by {{user.username}} on {{format_date created_at}}
         </div>
         |
       <a href="/book/{{id}}">{{reviews.length}} {{format_plural "review" reviews.length}}</a>
    </article>

{{!-- how it was originally  --}}
    {{!-- <a href="/book/{{id}}">{{reviews.length}} {{format_plural "review" reviews.length}}</a>  --}}