
<article class="book uk-card uk-card-default">
        <div class="book-title ">
       {{title}} by {{author}} <span class="thumb-icon"><img src="../../images/thumb.png" >{{upvote_count}}</span>  
       </div>

        <div class="user-info">
        created by {{user.username}} on {{format_date created_at}}
        
        <a href="/book/{{id}}">{{reviews.length}} {{format_plural "review" reviews.length}}</a>
         </div>
         |
    </article>
