<article class="book"></article>
        <div class="book-title">
       {{title}}
       </div>

        <div class="user-info">
        created by {{user.username}} on {{format_date created_at}}
         </div>
         |
       <a href="/book/{{id}}">{{reviews.length}} review(s)</a>
    </article>